@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.brand{
    border: 2px solid  #E47A38;
    padding: 10px 20px;
    border-top: transparent;
    border-bottom: transparent;
    border-radius: 0%;
    border-radius: 30px 30px 30px 30px;
    
}
.footer{
    background-color: #F8F9FA;
}
.mt-60{
    margin-top: 80px;
}
.mt-90{
    margin-top: 100px;
}
.zindex-1{
    z-index: -1;
}
.cartItem{
    background-color: #F8F9FA;
}
.active{
    background-color: var(--main-color);
    color:#fff!important;
    border-radius: 20px;
}
.bg-mint{
    background-color: #94C8BD;
}
.ms-6{
    margin-left: 67px;
}
/* .icons:hover{
   background-color: #0D6EFD;
   color: #fff !important;
} */
.bg-muted{
    background-color: #F8F9FA;
}
.wishlist{
    position: absolute;
    top: 30px;
    right: 5px;
    
}
.wishIcon{
    position: absolute;
    top: 0;
    left: 90%;

}
.w-70{
    width: 150px;
}
.m-200{
    margin-block: 120px !important;
}
.wish-pro{
    border-bottom: 8px solid #fff;
    
}

@media screen and (max-width: 600px) {
    .category h3{
      font-size: 10px;
    }
    .category{
        padding-inline: 10px;
    }
    .wish{
       padding-left: 0px;
       margin-top: -50px;
    }
    .cart{
        margin-left: 80px;
        margin-top: -80px;
    }
    .footer-btn{
        margin-top: 20px; 
    }
    
  }
  @media screen and (max-width:900px) {

     .category h3{
      font-size: 12px;
    }
    .category{
        padding-inline: 10px;
    }
    .wish{
       padding-left: 30px;
    }
    .cart{
        padding-left: 200px;
    }

    .footer-btn{
        margin-top: 20px; 
    }
    
  }